#main {
    min-height: 100svh;
    display: grid;
    grid-template-columns: 250px 1fr;
}

#sidebar {
    background: linear-gradient(100deg, white 4%, #3d526a 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#branding {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #888;
}

#content {
    margin: 20px;
}

#main-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
}

#main-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(48, 23, 23);
    padding: 15px; /* Adjust as needed */
}

#main-nav svg {
    margin-right: 8px; /* Adjust as needed */
}

#main nav a:hover {
    background-color: rgb(170, 209, 216);
}
.Landing-main {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centers content horizontally */
    align-items: center; 
}

.Landing-Container {
    border: 1px solid black;
    width: 150px;
    height: 100px;
    border-radius: 9px;
}
